.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(test-1.jpg);
  height: 500px;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(test-2.jpg);
  height: 500px;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(test-3.jpg);
  height: 500px;
}

footer {
  margin-top: 400px;
}
